@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    @apply text-lg
}

.projects img {
    width: 100%;
}

/* color */
.bg-primary {
    background: #0F172A;
}

.bg-secondery {
    background: #1E293B;
}

.bg-accent {
    background: #7477FF;
}

.text-accent {
    color: #7477FF;
}


nav li a {
    @apply px-4 py-5 text-lg;
}

nav li a:hover {
    color: #7477FF;
}

.mobile-nav {
    @apply block md:hidden fixed top-10 py-2 w-full h-full bg-gray-900 duration-500;
}


/* hero */
h1 {
    font-family: 'Pacifico', cursive;
    line-height:1.5 !important;
}



/* For slider */


/* app.css */


  
  .slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
  }
  
  .slider::before,
  .slider::after {
    background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  
  .slider::before {
    left: 0;
    top: 0;
  }
  
  .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
  }
  
  @keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-250px * 7)); }
  }
  
  .slide {
    height: 100px;
    width: 250px;
  }
  


  /* About section */

  .heroImg {
    /* border: 1px solid blue; */
    /* padding: 10px; */
    width: 40%;
    display: flex;
    /* height: 70%; */
    margin-top: 35px;
    margin-left: 20px;
}

.heroImg img {
    width: 90%;
    /* margin: 0 auto; */
    margin-left: 120px;
    /* border-radius: 50px; */
}

.rotateEarth {
    animation-name: animated-it;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}

.rotateEarth {
    animation-name: earth-rotate;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}


.heroCard {
    /* border: 1px solid cyan; */
    width: 90%;
    margin: 0 auto;
    margin-top: 15px;
    padding: 5px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    overflow: hidden;

}

.heroDescribe h1 {
    font-size: 65px;
    line-height: 115%;
    font-weight: 800;
    color: white;
    letter-spacing: 1px;
    margin-top: -90px;
}

.heroDescribe h2 {
  font-family: "Arial", sans-serif; /* Change the font to a different one */
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 12%, rgba(86, 69, 189, 1) 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
  margin-bottom: 5px;
  margin-top: 55px;
  font-weight: 800;
}

@keyframes earth-rotate {
    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(-180deg);
    }
}


/* Forms styling */
/* Base styles */
.FormContainer {
  width: 100%;
  overflow-y: auto;
  display: grid;
  place-items: center;
  background-color: #1e293b;
}

.FormInner {
  width: 80%; /* Adjust the width for desktop */
  max-width: 100vh; /* Set a maximum width for desktop */
  height: auto;
  padding: 20px;
  background-color: #bcbdff;
  border-radius: 12px;
  color: rgb(24, 23, 23);
  display: grid;
  grid-template-columns: 1fr; /* Single column layout by default */
  align-items: center;
  justify-items: center;
}

.FormContainer h1 {
  text-align: center;
}

.FormContainer label {
  font-size: 20px;
}

.FormContainer .inputGp {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.inputGp input,
.inputGp textarea {
  font-size: 16px;
  border: none;
  border-radius: 2px;
  padding: 5px;
  max-width: 100%;
  width: 100%;
}

.inputGp input {
  height: 40px;
}

.inputGp textarea {
  height: 150px;
}

.FormInner button {
  margin-top: 20px;
  height: 40px;
  border: solid;
  width: 30%;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

input,
textarea {
  margin-top: 5px;
}

/* Responsive styles for desktop */
@media screen and (min-width: 769px) {
  .FormInner {
    grid-template-columns: 1fr 1fr; /* Two-column layout for desktop */
  }
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 768px) {
  .FormInner {
    width: 80%;
    
  }
  
  .FormInner button {
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .FormInner {
    width: 90%;
  }
  
  .FormInner button {
    width: 70%;
  }
}
